{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block navbar_brand_link %}
{{ url_for("auth.login") }}
{% endblock %}

{% block main %}
<!-- Register form -->

<div class="card mx-auto login-card">
  <div class="card-header">
    <h1 class="text-primary mb-0 h2">Create Account</h1>
    <div class="small mb-4 text-muted">Customer support team only</div>
  </div>
  <div class="card-body">
    <div class="mx-auto form-container">
      <form action="{{ url_for("auth.register") }}" method="post" accept-charset="utf-8">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input autofocus type="text" class="form-control {{ errors["email"] }}" id="email" name="email"
            value="{{ request.form["email"] }}">
          <div class="invalid-feedback">Email address is required</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control {{ errors["password"] }}" id="password" name="password">
          <div class="invalid-feedback">Password is required</div>
        </div>
        <div class="mb-3">
          <label for="confirmation" class="form-label">Repeat</label>
          <input type="password" class="form-control {{ errors["confirmation"] }}" id="confirmation"
            name="confirmation">
          <div class="invalid-feedback">Passwords do not match</div>
        </div>
        <div class="mb-3">
          <label for="full_name" class="form-label">Full Name</label>
          <input type="text" class="form-control {{ errors["full_name"] }}" id="full_name" name="full_name"
            value="{{ request.form["full_name"] }}">
          <div class="invalid-feedback">Full name is required as identity information</div>
        </div>
        <div class="mb-3">
          <label for="short_name" class="form-label">Short Name</label>
          <input type="text" class="form-control {{ errors["short_name"] }}" id="short_name" name="short_name"
            value="{{ request.form["short_name"] }}">
          <div class="invalid-feedback">Short name is required for profile</div>
        </div>
        <div class="d-flex d-md-block ">
          <button type="submit" class="btn btn-primary flex-grow-1">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
