{% extends "base.html" %}

{% block navbar_brand_link %}
{{ url_for("customer.index") }}
{% endblock %}

{% block title %} Join meeting {% endblock %}

{% block main %}

<!-- Join meeting form -->
<div class="card bg-light join-meeting-container mx-auto">
  <div class="card-header">
    <h1 class="h2 card-title text-primary mb-0">Join Meeting</h1>
  </div>
  <div class="card-body p-0">
    {% if g.is_guest %}
    <!-- Guest customer form -->
    <form action="{{ url_for("customer.join_meeting", id=g.room_id)}}" method="post" accept-charset="utf-8"
      id="join_meeting_form">
      <h2 class="h5 mb-2 card-header rounded-top">Guest Contact Form</h2>
      <div class="p-2 px-4">
        <div class="row mb-4">
          <p class="text-muted small">Please fill either phone number or email address fields for us to be able to
            contact you
            later.
          </p>
          <div class="col-sm-6 mb-2 mb-sm-0">
            <label for="phone_number" class="">Phone number</label>
            <input type="tel" class="form-control {{ errors["phone_number_check"] }}" id="phone_number"
              name="phone_number" value="{{ request.form["phone_number"] }}">
            {% if errors["phone_number_check"] %}
            <p class="text-danger mt-1 small">Phone number is not correctly formatted</p>
            {% endif %}
          </div>
          <div class="col-sm-6">
            <label for="email">Email address</label>
            <input placeholder="username@example.com" type="text" class="form-control" id="email" name="email"
              value="{{ request.form["email"] }}">
          </div>

          {% if errors["contact_info"] %}
          <p class="text-danger mt-1 small">{{ errors["contact_info"] }}</p>
          {% endif %}
        </div>

        <div class="mb-3 col-sm-6 pe-2">
          <div class="d-flex flex-nowrap gap-2">
            <label for="short_name">Name</label>
            <div class="text-muted ms-auto">How do you want to be called? </div>
          </div>
          <input type="text" class="form-control {{ errors["short_name"] }}" id="short_name" name="short_name"
            placeholder="e.g. John" value="{{ request.form["short_name"] }}">
          <div class="invalid-feedback">Name is required</div>
        </div>
      </div>

      <h2 class="h5 mb-2 card-header rounded-top">Room Information</h2>
      <div class="p-2 px-4">
        <p class="text-muted small">Enter the password that was sent to you along with the meeting link.</p>
        <div class="mb-3 col-sm-6 pe-2">
          <label for="password">Password</label>
          <input type="password" class="form-control {{ errors["password"] }}" id="password" name="password">
          <div class="invalid-feedback">Password is required</div>
        </div>

        <div class="d-flex d-md-block ">
          <button type="submit" class="btn btn-primary flex-grow-1">Join</button>
        </div>
      </div>
    </form>

    {% else %}
    <!-- Customer form -->
    <form action="{{ url_for("customer.join_meeting", id=g.room_id) }}" method="post" accept-charset="utf-8"
      id="join_meeting_form">
      <h2 class="h6 card-header">Customer Validation</h2>
      <div class="p-3 px-4">
        <p class="text-muted small">Please enter your phone number that is registered to the company.
        </p>
        <div class="col-sm-6 mb-3 pe-2">
          <label for="phone_number" class="">Phone number</label>
          <input type="tel" class="form-control {{ errors["phone_number"] }} {{ errors["phone_number_check"] }}"
            id="phone_number" name="phone_number" value="{{ request.form["phone_number"] }}">
          {% if errors["phone_number"] %}
          <p class="text-danger mt-1 small">Phone number is required</p>
          {% elif errors["phone_number_check"] %}
          <p class="text-danger mt-1 small">Phone number is not correctly formatted</p>
          {% endif %}
        </div>
      </div>

      <h2 class="h6 card-header">Room Information</h2>
      <div class="p-3 px-4">
        <p class="text-muted small">Enter the password that was sent to you along with the meeting link.</p>
        <div class="mb-3 col-sm-6 pe-2">
          <label for="password">Password</label>
          <input type="password" class="form-control {{ errors["password"] }}" id="password" name="password">
          <div class="invalid-feedback">Password is required</div>
        </div>

        <div class="d-flex d-md-block">
          <button type="submit" class="btn btn-primary flex-grow-1">Join</button>
        </div>
      </div>
    </form>

    {% endif %}
  </div>
</div>

<!-- Import intl-tel-input javascript file -->
<script src="{{ url_for("static", filename="intl-tel-input/js/intlTelInput.js") }}"></script>
<script charset="utf-8">
  const phoneNumber = document.getElementById("phone_number");
  const form = document.getElementById("join_meeting_form");
  // Initialize intl-tel-input
  const iti = window.intlTelInput(phoneNumber, {
    // any initialisation options go here
    utilsScript: '{{ url_for("static", filename="intl-tel-input/js/utils.js") }}',
    initialCountry: "tr",
    preferredCountries: ["tr", "us", "gb", "de", "az", "uz", "kz", "tm"]
  });
  form.addEventListener("submit", (event) => {
    if (iti.isValidNumber()) {
      phoneNumber.value = iti.getNumber();
    }
  });
</script>

{% endblock %}
