{% extends "base.html" %}

{% block navbar_brand_link %}
{% if session["rep_id"] %}
{{ url_for("representative.index") }}
{% endif %}
{% endblock %}

{% block title %} Room - {{ session["room_id"] }} {% endblock %}

{% block head %}
<style type="text/css" media="all">
  .iti__flag {
    padding-left: 0;
    align-self: start;
    margin-top: 5px;
  }

  .iti__selected-flag {
    padding-left: 0;

  }

  .iti__arrow {
    display: none;
  }
</style>

{% endblock %}

{% block navbar_nav %}
<div class="navbar-flex-break"></div>
<div id="navbar_buttons"
  class="my-1 navbar-buttons flex-fill d-flex flex-column flex-sm-row gap-1 justify-content-start">
  <!-- Button that fires modal to copy invite link -->
  <div class="flex-grow-1 flex-sm-grow-0">
    {% if "rep_id" in session %}
    <button type="button" class="w-100 btn btn-outline-primary" data-bs-toggle="modal"
      data-bs-target="#invite_link_modal">Copy invite link</button>
    {% endif %}
  </div>
  <div class="flex-grow-1 flex-sm-grow-0 navbar-buttons-end">
    <button type="button" class="w-100 btn btn-outline-danger" id="leave_prompt" data-bs-toggle="modal"
      data-bs-target="#leave_meeting_modal">End
      meeting</button>
  </div>
</div>

{% endblock %}

{% block main %}

<div class="container">
  <!-- First row -->
  <div class="row g-2 mb-2">
    <div class="ms-auto ms-md-0 col-6 col-md">
      <div class="ratio ratio-16x9 border border-2 rounded bg-secondary">
        <video id="local_video" class="" muted>Your browser does not support video tag.</video>
      </div>

    </div>

    <div class="col-12 col-md order-last">
      <div class="position-relative ratio ratio-16x9 border border-2 rounded bg-secondary">
        <div id="waiting_other_party"
          class="loading-background d-flex flex-column justify-content-center align-items-center d-none">
          <div class="spinner-border text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="mt-2">
            Waiting for the other party to join...
          </div>
        </div>
        <div id="customer_name_badge_container" class="width-100 h-100 position-absolute d-none">
          <span id="customer_name_badge"
            class="customer-name-badge badge rounded-pill bg-light text-dark border position-absolute top-0 end-0"></span>
        </div>
        <video autoplay id="remote_video" class="">Your browser does not support video tag.</video>
      </div>
    </div>
  </div>

  <!-- Second row -->
  <div id="initiate_video_container" class="row g-2 my-2">
    <div class="col-12 text-center">
      <button id="initiate_video" class=" btn btn-primary mb-3">Join with camera and microphone</button>
    </div>
  </div>

  <!-- Third row -->
  <div class="row g-2">
    <!-- Video controls -->
    <div class="col-12 col-md">
      <div class="d-flex justify-content-center gap-3">
        <button aria-label="Toggle camera" id="toggle_camera" class="toggle-button btn btn-danger d-none"><i
            class="fa-solid fa-video-slash"></i></button>
        <button aria-label="Toggle microphone" id="toggle_mic" class="toggle-button btn btn-danger d-none"><i
            class="fa-solid fa-microphone-slash"></i></button>
        <button aria-label="End meeting" id="leave_meeting_prompt_2" class="toggle-button btn btn-danger d-none"
          data-bs-toggle="modal" data-bs-target="#leave_meeting_modal"><i class="fa-solid fa-phone-flip"></i></button>
      </div>
    </div>
    <!-- Force customer info card to new row after md -->
    <div class="d-block d-md-none col-sm"></div>
    <div class="d-block d-md-none w-100"></div>

    <!-- Customer info card -->
    <div class="col-12 col-sm">
      {% if "rep_id" in session %}
      <div class="d-flex justify-content-center">
        <div id="customer_info_card" class="card text-dark bg-light d-none w-100">
          <div class="card-body">
            <h5 id="customer_name" class="card-title"></h5>
            <h6 id="customer_type" class="card-subtitle mb-2 text-muted"></h6>
            <div class="row">
              <p class="col-4 fw-bold">ID</p>
              <p id="customer_id" class="col-8 card-text"></p>
            </div>
            <div id="customer_name_row" class="row">
              <p class="col-4 fw-bold">Name</p>
              <p id="customer_short_name" class="col-8 card-text"></p>
            </div>
            <div class="row">
              <p class="col-4 fw-bold">Phone</p>
              <div class="col-8">
                <textarea disabled id="customer_phone" type="tel"
                  class="card-phone-text ps-4 w-100 border-0 text-black bg-light" value="" rows="1"></textarea>
              </div>

            </div>
            <div class="row">
              <p class="col-4 fw-bold">Email</p>
              <p id="customer_email" class="col-8 card-text"></p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

</div>

<!-- Modal for representative to copy the invite link -->
<div id="invite_link_modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Meeting Invite Link</h5>
        <button id="invite_link_close" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Copy the text with Ctrl + C and then press Enter to close the box.</p>
        <form id="invite_link_form" class="text-center">
          <input readonly type="text" value="" id="invite_link" />
          <input hidden type="submit">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal to confirm if user wants to end the meeting-->
<div id="leave_meeting_modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Do you really want to end the meeting?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button id="confirm_leave" type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>


<!-- Include socket.io client -->
<script src="{{ url_for("static", filename="socket.io/socket.io.js") }}" charset="utf-8"></script>
<!-- Include adapter for WebRTC -->
<!-- https://github.com/webrtchacks/adapter#readme-->
<script src="{{ url_for("static", filename="webrtc-adapter/adapter.js") }}" charset="utf-8"></script>
<!-- Import intl-tel-input javascript file -->
<script src="{{ url_for("static", filename="intl-tel-input/js/intlTelInput.js") }}"></script>
<script charset="utf-8">
  // === GLOBAL DEFINITIONS ===
  // DOM elements
  const socket = io("/meeting");
  const confirmLeave = document.getElementById("confirm_leave");
  const inviteLinkModal = document.getElementById("invite_link_modal");
  const inviteLinkForm = document.getElementById("invite_link_form");
  const customerInfoCard = document.getElementById("customer_info_card");
  const toggleCamera = document.getElementById("toggle_camera");
  const toggleMic = document.getElementById("toggle_mic");
  const leaveMeeting2 = document.getElementById("leave_meeting_prompt_2");
  const initiateVideo = document.getElementById("initiate_video");
  const localVideo = document.getElementById("local_video");
  const remoteVideo = document.getElementById("remote_video");
  const waitingOtherParty = document.getElementById("waiting_other_party");
  // Variables
  let isCameraOpen = false;
  let isMicOpen = false;
  let isVideoInitiated = false;
  let customer = null;
  let callStartTimestamp = '{{ session["call_start_timestamp"] }}';
  let cameraStartDate;
  let cameraOnMs = parseInt('{{ session["camera_on_ms"]|default(0) }}');
  let updateSessionInterval = null;

  console.log("callStartTimestamp: ", callStartTimestamp);
  // WebRTC variables
  // Default constraints for media stream
  const mediaStreamConstraints = {
    video: {
      width: 1280,
      height: 720,
      facingMode: "user",
    },
    audio: true,
  };
  // Free public STUN servers provided by Google.
  const iceServers = {
    iceServers: [
      {
        urls: "stun:stun.l.google.com:19302",
      },
      {
        urls: "stun:stun1.l.google.com:19302",
      },
      {
        urls: "stun:stun2.l.google.com:19302",
      },
      {
        urls: "stun:stun3.l.google.com:19302",
      },
    ],
  };
  let localStream = null;
  let remoteStream = null;
  let rtcPeerConnection = null; // connection between the local device and remote peer

  // === FUNCTIONS ===
  /* Update customer card's fields with the customer object's fields */
  function updateCustomerCard(customer, isGuest) {
    document.getElementById("customer_name_badge_container").classList.remove("d-none");
    customerInfoCard.classList.remove("d-none");

    var customerPhone = document.getElementById("customer_phone");
    const iti = window.intlTelInput(customerPhone, {
      utilsScript: '{{ url_for("static", filename="intl-tel-input/js/utils.js") }}', // just for formatting/placeholders etc
    });
    if (isGuest) {
      document.querySelector("#customer_info_card #customer_name").innerText =
        customer.short_name;
      document.querySelector("#customer_name_badge ").innerText = customer.short_name;
      document.querySelector("#customer_info_card #customer_type").innerText =
        "Guest Customer";
      document.querySelector("#customer_info_card #customer_id").innerText =
        customer.g_cust_id;
      document
        .querySelector("#customer_info_card #customer_name_row")
        .classList.add("d-none");

      phone_number = customer.phone_number ?? "—";
      email_address = customer.email_address ?? "—";

      iti.setNumber(phone_number);
      document.querySelector("#customer_info_card #customer_email").innerText =
        email_address;
    } else {
      document.querySelector("#customer_info_card #customer_name").innerText =
        customer.full_name;
      document.querySelector("#customer_name_badge").innerText = customer.full_name;
      document.querySelector("#customer_info_card #customer_type").innerText = "Customer";
      document.querySelector("#customer_info_card #customer_id").innerText =
        customer.cust_id;
      document.querySelector("#customer_info_card #customer_short_name").innerText =
        customer.short_name;
      iti.setNumber(customer.phone_number);
      document.querySelector("#customer_info_card #customer_email").innerText =
        customer.email_address;
    }
  }

  // Update session regularly for meeting log
  function updateSession() {
    if (isCameraOpen) {
      updateCameraOnDuration();
      cameraStartDate = +Date.now();
    }

    fetch('{{ url_for("representative.update_session_log") }}', {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        call_start_timestamp: callStartTimestamp,
        camera_on_ms: cameraOnMs,
      }),
    }).catch((error) => {
      console.error("Could not update the session log: ", error);
    });
  }

  /* Get camera and mic permissions from user */
  async function onInitiateVideo() {
    try {
      let stream = await navigator.mediaDevices.getUserMedia(mediaStreamConstraints);
      // start with camera and mic disabled
      stream.getTracks().forEach((track) => {
        track.enabled = false;
      });
      localVideo.srcObject = stream;
      localVideo.play();
      // set global variables
      localStream = stream;
      isVideoInitiated = true;
      document.getElementById("initiate_video_container").classList.add("d-none");
      toggleCamera.classList.remove("d-none");
      toggleMic.classList.remove("d-none");
      leaveMeeting2.classList.remove("d-none");
      isCameraOpen = false;
      isMicOpen = false;
      // show spinner
      waitingOtherParty.classList.remove("d-none");
      socket.emit("start call");

      updateSessionInterval = setInterval(updateSession, 1000);
    } catch (err) {
      console.log("navigator.getUserMedia error: " + err);
    }
  }

  function updateCameraOnDuration() {
    // calculate total camera on duration
    let duration = +Date.now() - cameraStartDate;
    console.log("Duration: ", duration);
    cameraOnMs += +duration;
    console.log("Camera on for: ", cameraOnMs);
  }

  /* Toggle local camera on and off */
  function onToggleCamera() {
    if (!isVideoInitiated) {
      alert("You must first give permissions for camera and mic usage.");
      return;
    }
    const cameraIcon = document.querySelector("#toggle_camera i");
    if (isCameraOpen) {
      // track.stop() is permanent, you cannot get the video back
      // instead use track.enabled = false
      localStream.getVideoTracks().forEach((track) => {
        track.enabled = false;
      });
      isCameraOpen = false;
      cameraIcon.classList.remove("fa-video");
      cameraIcon.classList.add("fa-video-slash");
      toggleCamera.classList.remove("btn-primary");
      toggleCamera.classList.add("btn-danger");
      updateCameraOnDuration();
    } else {
      localStream.getVideoTracks().forEach((track) => {
        track.enabled = true;
      });
      isCameraOpen = true;
      cameraIcon.classList.remove("fa-video-slash");
      cameraIcon.classList.add("fa-video");
      toggleCamera.classList.remove("btn-danger");
      toggleCamera.classList.add("btn-primary");

      // set camera start date
      cameraStartDate = Date.now();
    }
  }

  /* Toggle local mic on and off */
  function onToggleMic() {
    if (!isVideoInitiated) {
      alert("You must first give permissions for camera and mic usage.");
      return;
    }
    const micIcon = document.querySelector("#toggle_mic i");
    if (isMicOpen) {
      // track.stop() is permanent, you cannot get the video back
      // instead use track.enabled = false
      localStream.getAudioTracks().forEach((track) => {
        track.enabled = false;
      });
      isMicOpen = false;
      micIcon.classList.remove("fa-microphone");
      micIcon.classList.add("fa-microphone-slash");
      toggleMic.classList.remove("btn-primary");
      toggleMic.classList.add("btn-danger");
    } else {
      localStream.getAudioTracks().forEach((track) => {
        track.enabled = true;
      });
      isMicOpen = true;
      micIcon.classList.remove("fa-microphone-slash");
      micIcon.classList.add("fa-microphone");
      toggleMic.classList.remove("btn-danger");
      toggleMic.classList.add("btn-primary");
    }
  }

  /* Disconnect from socket and end meeting */
  function endMeeting() {
    clearInterval(updateSessionInterval);
    // Inform other user
    socket.emit("left", {}, async () => {
      socket.disconnect();
      window.location.replace('{{ url_for("customer.leave_meeting") }}');
    });
  }

  /* Set the waiting other party state to true (waiting) or false (not waiting) */
  function setWaitingOtherState(flag) {
    if (flag) {
      waitingOtherParty.classList.remove("d-none");
    } else {
      waitingOtherParty.classList.add("d-none");
    }
  }

  // WebRTC Functions
  function addLocalTracks(rtcPeerConnection) {
    localStream.getTracks().forEach((track) => {
      rtcPeerConnection.addTrack(track, localStream);
    });
  }

  async function createOffer(rtcPeerConnection) {
    let sessionDescription;
    try {
      sessionDescription = await rtcPeerConnection.createOffer();
      rtcPeerConnection.setLocalDescription(sessionDescription);
    } catch (error) {
      console.error("Could not create SDP offer: ", error);
    }

    socket.emit("webrtc offer", {
      type: "webrtc offer",
      sdp: sessionDescription,
    });
  }

  async function createAnswer(rtcPeerConnection) {
    let sessionDescription;
    try {
      sessionDescription = await rtcPeerConnection.createAnswer();
      rtcPeerConnection.setLocalDescription(sessionDescription);
    } catch (error) {
      console.error("Could not create SDP answer: ", error);
    }

    socket.emit("webrtc answer", {
      sdp: sessionDescription,
    });
  }

  function setRemoteStream(event) {
    remoteVideo.srcObject = event.streams[0];
    remoteStream = event.stream;
  }

  function sendIceCandidate(event) {
    if (event.candidate) {
      socket.emit("webrtc ice candidate", {
        label: event.candidate.sdpMLineIndex,
        candidate: event.candidate.candidate,
      });
    }
  }

  /* Triggered when the WebRTC connection state changes */
  function connectionStateChange() {
    switch (rtcPeerConnection.connectionState) {
      case "new":
      case "checking":
        setWaitingOtherState(true);
        break;
      case "connected":
        setWaitingOtherState(false);
        // Set call start date if not already set
        if (!callStartTimestamp) {
          callStartTimestamp = +Date.now();
          console.log("callStartTimestamp: ", callStartTimestamp);
        }

        // Set room as full
        fetch('{{ url_for("customer.set_room_vacancy") }}', {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            is_full: true,
          }),
        }).catch((error) => {
          console.error("Could not change room is_full status: ", error);
        });

        break;
      case "disconnected":
        setWaitingOtherState(true);

        // Set room as not full
        fetch('{{ url_for("customer.set_room_vacancy") }}', {
          method: "POST",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            is_full: false,
          }),
        }).catch((error) => {
          console.error("Could not change room is_full status: ", error);
        });
        break;
      case "closed":
        alert("Connection closed.");
        break;
      case "failed":
        alert("Connection failed.");
        break;
      default:
        break;
    }
  }

  /* Add event listeners for WebRTC peer connection. */
  function setConnectionEventListeners() {
    rtcPeerConnection.ontrack = setRemoteStream;
    rtcPeerConnection.onicecandidate = sendIceCandidate;
    rtcPeerConnection.onconnectionstatechange = connectionStateChange;
  }

  // Copy invite link modal
  inviteLinkModal.addEventListener("shown.bs.modal", () => {
    const inviteLink = document.getElementById("invite_link");
    let text = "{{ request.root_url }}";
    text = text.slice(0, text.length - 1);
    text += "{{ url_for('customer.join_meeting', id=session['room_id']) }}";
    inviteLink.value = text;
    // autofocus invite link text
    inviteLink.focus();
    inviteLink.select();
  });

  inviteLinkForm.addEventListener("submit", (event) => {
    event.preventDefault();
    event.stopPropagation();
    document.getElementById("invite_link_close").click();
  });

  document.addEventListener("DOMContentLoaded", () => {
    // Reload customer info card if user is representative and customer is defined
    if (customerInfoCard) {
      customer = JSON.parse('{{ session["customer"]|default("{}")|tojson }}');

      // Check if customer is empty or not
      if (Object.keys(customer).length !== 0 && customer.constructor === Object) {
        updateCustomerCard(customer, customer["is_guest"]);
      }
    }
  });

  // WEBRTC
  // Test webrtc-adapter
  console.log("WebRTC Adapter: ", adapter.browserDetails.browser);
  initiateVideo.addEventListener("click", onInitiateVideo);
  toggleCamera.addEventListener("click", onToggleCamera);
  toggleMic.addEventListener("click", onToggleMic);
  // End meeting after user confirms
  confirmLeave.addEventListener("click", endMeeting);
  leaveMeeting2.addEventListener("click", () => {
    document.getElementById("leave_prompt").click();
  });

  // SOCKET.IO
  // Put these JavaScript codes to the HTML file of the route
  // you want socket connections to happen.
  // Emit joined event to inform other users in the room
  socket.on("connect", () => {
    socket.emit("joined");
  });

  /* When we receive this event it means another person has entered the room */
  socket.on("client joined", async (data) => {
    // If signal came from non representative then update customer card
    if (!data.is_rep) {
      customer = data.customer;
      // Save customer to session
      fetch('{{ url_for("representative.remember_customer") }}', {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          customer: customer,
        }),
      }).catch((error) => {
        console.error("Could not save customer info to session for future use: ", error);
      });
      // Update customer card
      updateCustomerCard(customer, customer["is_guest"]);
    }
  });

  // Accept call if video is initiated otherwise reject
  socket.on("start call", async () => {
    if (localStream) {
      socket.emit("call accepted");
    } else {
      socket.emit("call rejected");
    }
  });

  socket.on("call accepted", async () => {
    console.log("socket.io: Other party accepted the call.");
    // Start call
    rtcPeerConnection = new RTCPeerConnection(iceServers);
    addLocalTracks(rtcPeerConnection);
    setConnectionEventListeners();
    // when other person adds tracks to peer connection, ontrack is fired
    await createOffer(rtcPeerConnection);
  });

  socket.on("call rejected", () => {
    console.log("socket.io: Other party has not initiated their video.");
  });

  socket.on("end meeting", async () => {
    socket.disconnect();
    // window.location.href = '{{ url_for("customer.leave_meeting") }}';
    window.location.replace('{{ url_for("customer.leave_meeting") }}');
  });

  // WebRTC socket events
  socket.on("webrtc offer", async (data) => {
    rtcPeerConnection = new RTCPeerConnection(iceServers);
    addLocalTracks(rtcPeerConnection);
    setConnectionEventListeners();
    rtcPeerConnection.setRemoteDescription(data.sdp);
    await createAnswer(rtcPeerConnection);
  });

  socket.on("webrtc answer", (data) => {
    rtcPeerConnection.setRemoteDescription(data.sdp);
  });

  socket.on("webrtc ice candidate", (data) => {
    // ICE candidate configuration.
    try {
      let candidate = new RTCIceCandidate({
        sdpMLineIndex: data.label,
        candidate: data.candidate,
      });
      rtcPeerConnection.addIceCandidate(candidate);
    } catch (err) {
      console.err("Could not add ice candidate.");
    }
  });
</script>

{% endblock %}
