// Import fonts
@use "fonts";

// Import intl-tel-input flags
.iti__flag { background-image: url("/static/intl-tel-input/img/flags.png"); }

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag { background-image: url("/static/intl-tel-input/img/flags@2x.png"); }
}

* {
  font-family: Poppins, sans-serif;
}

nav .navbar-brand {
  font-size: xx-large;
}

// layout.html

// auth/register.html
.form-container {
  text-align: left;
}

// representative/create_room.html
.create-room-container {
  max-width: 800px;
}

.site-entrance-container {
  .card {
    flex: 1 1 0;
  }

  width: min(100%, 600px);
  gap: 10px;
}

.login-card {
  width: min(100%, 420px);
}

// customer/join_meeting.html
.join-meeting-container {
  max-width: 800px;
}

// Mobile screen
@media (max-width: 575px) {
  .navbar-flex-break {
    flex: 0 0 100%;
    height: 0;
  }

  .navbar-buttons {
    button {
      border-radius: 0;
    }
  }
}

// Larger than mobile screen
@media (min-width: 576px) {
  .navbar-buttons-end {
    margin-left: auto;
  }

  .navbar-buttons {
    button {
      border-radius: 50rem;
    }
  }
}

.customer-name-badge {
  z-index: 99;
}
