{% extends "layout.html" %}

{% block title %}
Create Room
{% endblock %}

{% block main %}

<!-- Create room form -->
<div class="card bg-light create-room-container mx-auto">
  <div class="card-header">
    <h1 class="h2 card-title text-primary mb-0">New Meeting <i class="mx-2 fa-solid fa-user-group"></i></h1>
  </div>
  <div class="card-body">
    <form action="{{ url_for("representative.create_room") }}" method="post" accept-charset="utf-8">
      <div class="row mb-3">
        <label for="title" class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="title" name="title" value="{{ request.form["title"] }}">
        </div>
      </div>

      <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>

      <div class="row mb-3">
        <label for="description" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="description" name="description"></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <label for="customer_search" class="col-sm-3 col-form-label">Customer</label>
        <div class="col-sm-9">
          <div class="input-group input-group-sm">
            <!-- Input box to search customers -->
            <input type="text" class="form-control" id="customer_search" placeholder="Start typing...">
            <!-- Dropdown menu to select according to which column search costumers-->
            <div class="input-group-text">
              <select id="search_type" class="form-select form-select-sm"
                aria-label="Which column to be used for searching customers">
                <option selected value="full_name">Full name</option>
                <option value="phone_number">Phone number</option>
                <option value="cust_id">Customer id</option>
              </select>
            </div>
          </div>
          <div class="w-100 text-muted my-2 fw-light text-end">Customer list is refreshed with each key press
          </div>
          <!-- Select costumer from the dropdown menu -->
          <div class="w-100">
            <select id="select_customer" name="customer" class="form-select"
              aria-label="Select customer to create meeting">
              <option selected value="">Continue without selecting a customer</option>
            </select>
          </div>
        </div>
      </div>

      <div class="d-flex d-md-block ">
        <button type="submit" class="btn btn-primary flex-grow-1">Create</button>
      </div>
    </form>
  </div>
</div>

<script>
  let selectCustomer = document.getElementById("select_customer");
  let customerSearch = document.getElementById("customer_search");
  let searchType = document.getElementById("search_type");
  // Fetch customers from database with each key press
  customerSearch.addEventListener("input", async function () {
    let response = await fetch(
      '{{ url_for("representative.get_customers") }}' +
        "?" +
        searchType.value +
        "=" +
        customerSearch.value
    );
    let customers = await response.json();
    let html = "<option selected>Continue without selecting a customer</option>";
    customers.forEach((customer) => {
      html += `<option value="${customer["cust_id"]}">${customer["full_name"]}</option>`;
    });
    selectCustomer.innerHTML = html;
  });
</script>

{% endblock %}
